{# entry submit function #}
{% extends "encyclopedia/layout.html" %}
{% block body %}
    <form method="POST"> {# submit function #}
        {% csrf_token %}

        {# title maker #}
        <label>Entry title</form><br><br> 
            <input type="text" name="title" required><br><br>

            {# description maker #}
            <label> Entry description</label><br> 
            <textarea name="content" style="width: 500px; height: 200px;" required></textarea><br><br>

            <input type="submit" value="Add entry">

    </form>
    {% endblock %}